/* main  */
*{
    box-sizing: border-box;
    margin :0;
    padding: 0;
}

.container{
    width: 1000px;
    margin: 40px auto;
    text-align: center;
    background-color: #B91450;
    padding: 50px;
}

/* utilities */
.bg_lggray{
    background-color: lightgrey;
}
.bg_gray{
    background-color: gray;
}

/* common */
.block1, .block2{
background-color: white;
width: 650px;

margin: auto;
}

/* top form*/
h1{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

.block1{
    border-radius: 10px;
    height: 140px;
    box-shadow: 0px 0px 16px 0px #030000;
}
.cust_name, .km, .age{
    color:  #B91450;
    font-weight: 600;
    padding:10px;
}
.brd_pink{
border: 1px solid #B91450;
color:  #B91450;
}
.age_btn{
    
    padding: 3px 5px;
    margin-right: 30px;
    align-self: flex-end;
}
/* input:active{
    color: #B91450;
} */

/* bottom form*/
h2{
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
  
}
.gray_box{
    width:30%;
}
.details{
    border: 1px solid gray;
    border-right: none;
}
.block2{
    height: 200px;
    box-shadow: 0px 0px 16px 0px #030000;
}

.gray_border{
    border: 2px solid gray;
    border-right: none;
    width: 90%;
    height: 80%;
    margin-left: 20px;
    padding-right: 35px;
    
}